{% extends 'base.html.twig' %}

{% block title %}Sécurité et Vie Privée | Provoke{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="confi-title text-center">Politique de confidentialité </h1><br>
   

<p class="mt-5">Provoke s'engage à protéger la vie privée de ses clients. Veuillez prendre le temps de lire cette notice qui détaille les informations que nous collectons à votre sujet, comment nous les utilisons ainsi que vos droits. Provoke Corporation est le responsable du traitement des données personnelles collectées via ou en relation avec [fr.provoke.com] et toute application associée (le &#34;Site&#34;).</p>
<p><br/></p>
<p><strong>Quelles données personnelles collectons-nous à votre sujet ?</strong></p>
<p><br/></p>
<p>Nous collectons vos données personnelles lorsque vous nous les fournissez directement et via votre utilisation du Site. Ces informations peuvent inclure :</p>
<p><br/></p>
<p>        Les informations que vous nous fournissez lorsque vous utilisez notre site (par exemple, votre nom, vos coordonnées, votre sexe, vos avis sur les produits et toute information que vous ajoutez au profil de votre compte) ;</p>
<p>        Les informations de transaction et de facturation, si vous effectuez des achats auprès de nous ou en utilisant notre site (par exemple, les détails de la carte de crédit / débit et les informations de livraison) ;</p>
<p>        Les enregistrements de vos interactions avec nous (par exemple, si vous contactez notre équipe de service clientèle, ou si vous interagissez avec nous sur les réseaux sociaux) ;</p>
<p>        Les informations que vous nous fournissez lorsque vous participez à un concours ou participez à un sondage ;</p>
<p>        Les informations collectées automatiquement à l'aide de cookies et d'autres technologies de suivi (par exemple, les pages que vous avez consultés);</p>
<p>        Les autres informations nécessaires que peut nécessiter le site, par exemple nous pouvons accéder à votre localisation si vous nous donnez votre consentement.</p>
<p>Si vous faites également vos achats dans l'un de nos magasins, nous pouvons combiner les informations que vous nous fournissez en magasin (par exemple, si vous effectuez un achat ou vous vous abonnez à notre newsletter en magasin) avec les informations ci-dessus.</p>
<p><br/></p>
<h4><stong>A quoi nous servent ces informations personnelles ?</strong></h4>
<p><br/></p>


    
<p>Selon la manière dont vous utilisez notre site, vos interactions avec nous et les autorisations que vous nous accordez, les raisons pour lesquelles nous utilisons vos données personnelles incluent :</p>
<p><br/></p>
<ul>
    <li>Pour réaliser votre commande et maintenir votre compte en ligne.</li><br/>
    <li>Gérer et répondre à toutes les questions ou plaintes que vous pourriez adresser à notre service clientèle.</li><br/>
    <li>Pour personnaliser le site et vous montrer le contenu qui vous intéresse le plus, en fonction de vos informations de compte, de votre historique d'achat et de votre activité de navigation.</li><br/>
    <li>Améliorer et maintenir le site, et surveiller son utilisation.</li><br/>
    <li>Pour une étude de marché, par exemple, nous pouvons vous contacter pour recueillir des commentaires sur nos produits.</li><br/>
    <li>Pour vous envoyer des messages marketing et vous montrer des publicités ciblées, lorsque nous avons votre consentement ou que nous sommes autorisés à le faire.</li><br/>
    <li>Pour des raisons de sécurité, pour enquêter sur la fraude et, si nécessaire, pour nous protéger et protéger les tiers.</li><br/>
    <li>Pour se conformer à nos obligations légales et réglementaires.</li><br/>
</ul>
<p><br/></p>
<p>Nous nous appuyons sur la base juridique suivante, en vertu de la loi sur la protection des données, pour traiter vos données personnelles :</p>
<p><br/></p>
<p>        Parce que ce traitement est nécessaire pour exécuter un contrat avec vous ou prendre des mesures avant de conclure un contrat avec vous (par exemple, lorsque vous avez effectué un achat avec nous, nous utilisons vos données personnelles pour traiter le paiement et exécuter votre commande).</p>
<p>        Parce que nous avons obtenu votre consentement (par exemple lorsque vous nous contactez avec une requête, où vous ajoutez des informations facultatives à votre profil de compte, ou si vous consentez à recevoir du marketing de notre part).</p>
<p>        Parce qu'il est de notre intérêt légitime, en tant que plateforme e-commerce, de maintenir et de promouvoir nos services. Nous cherchons toujours à mieux comprendre nos clients afin de leur offrir les meilleurs produits et expérience client. Nous utilisons des informations vous concernant pour personnaliser votre vision du Site, afin de le rendre plus intéressant et pertinent par rapport aux produits et offres présentées.</p>
<p>Notre site peut vous permettre d'ajouter des informations supplémentaires à votre profil, telles que votre type de morphologie, type de peau, type de cheveux, régime d'entraînement, objectifs de performance, ou encore taille et poids. Nous traitons cette information avec une sensibilité particulière, car nous comprenons qu'elle peut révéler des informations sur votre santé ou votre ethnicité, par exemple. Vous n'êtes pas tenu de nous fournir ces informations et vous pouvez les supprimer ou les mettre à jour à tout moment.</p>
<p><br/></p>
<h4><strong>Marketing</strong></h4>
<p><br/></p>
<p>Nous aimons communiquer avec nos clients et, en fonction de vos préférences marketing, nous pouvons utiliser vos données personnelles pour vous envoyer des messages commerciaux par courrier électronique, par téléphone ou par courrier. Certains de ces messages peuvent vous être personnalisés, en fonction de votre précédente navigation sur le site ou de vos précédents achats, et d'autres informations que nous détenons à votre sujet.</p>
<p><br/></p>
<p>Si vous ne souhaitez plus recevoir de communications de notre part (ou si vous souhaitez y revenir), vous pouvez modifier vos préférences à tout moment en nous contactant (détails ci-dessous), en cliquant sur le lien «Désabonnement» dans un e-mail, ou en mettant à jour vos paramètres dans votre compte. Si vous vous désabonnez du marketing, veuillez noter que nous pouvons toujours vous contacter de temps à autre pour vous envoyer des messages de service (par exemple, une confirmation de commande ou de livraison, ou des informations sur vos droits légaux).</p>
<p><br/></p>
<p>Vous pouvez également voir des annonces pour notre site sur d’autres sites Web, y compris sur les réseaux sociaux. Ces publicités peuvent être personnalisées à l'aide de cookies (qui suivent votre activité sur le Web, ce qui nous permet de diffuser des annonces auprès des clients qui ont visité notre site). Lorsque vous voyez une annonce sur les réseaux sociaux, cela peut s'expliquer par le fait que nous avons utilisé ce réseau social pour diffuser des annonces auprès de nos clients ou des utilisateurs qui correspondent au profil démographique de nos clients. Dans certains cas, cela peut impliquer le partage de votre adresse e-mail avec ce réseau social. Si vous ne souhaitez plus voir d'annonces personnalisées, vous pouvez modifier vos paramètres de cookies et de confidentialité sur votre navigateur et ces sites Web tiers.</p>
<p><br/></p>
<h4><strong>Avec qui partageons-nous ces données personnelles ?</strong></h4>
<p><br/></p>
<p>Nous partageons les données personnelles des clients avec des tiers dans les circonstances suivantes :</p>
<p><br/></p>
<p>        Avec d'autres sociétés de notre groupe d'entreprises, si besoin pour exploiter le site.</p>
<p>        Avec nos fournisseurs et fournisseurs de services travaillant pour nous, par exemple les établissements de paiement et sociétés de livraison.</p>
<p>        Avec nos conseillers professionnels et juridiques.</p>
<p>        Avec des tiers engagés dans la prévention et la détection de la fraude.</p>
<p>        Avec l'application de la loi ou d'autres autorités gouvernementales, par exemple pour signaler une fraude ou en réponse à une demande légitime.</p>
<p>        Dans le cas où nous vendons des actions de l'entreprise, les données personnelles de nos clients peuvent être divulguées à un acheteur potentiel. Dans ce cas, nous ferons des efforts raisonnables pour garantir que l'acheteur sera lié par les termes à cette politique de confidentialité.</p>
<p>        Sinon, nous avons votre consentement ou nous sommes légalement autorisés à le faire.</p><br>
<h4><strong>Stockage et rétention</strong></h4>
<p><br/></p>
<p>Nous utilisons des fournisseurs de services basés dans le monde entier. Par conséquent, vos données personnelles peuvent être traitées dans des pays hors d'Europe, y compris dans des pays où vous pouvez avoir moins de droits légaux sur vos données qu’en vertu de la loi locale. Si nous transférons des données personnelles en dehors de l'Espace économique européen, nous veillerons, comme l'exige la législation applicable, à ce que vos droits à la vie privée soient correctement protégés par des garanties appropriées, en particulier les clauses contractuelles types de l'UE. Veuillez nous contacter si vous souhaitez plus d'informations sur ces garanties.</p>
<p><br/></p>
<p>Nous conserverons vos données personnelles aussi longtemps que nous en aurons besoin aux fins énoncées ci-dessus, et cette période variera en fonction de vos interactions avec nous. Par exemple, lorsque vous avez effectué un achat avec nous, nous conserverons un enregistrement de votre achat pour la période nécessaire à la facturation, aux taxes et à la garantie. Nous pouvons également conserver un dossier de correspondance avec vous (par exemple si vous avez déposé une plainte concernant un produit) aussi longtemps que nécessaire pour nous protéger d'une réclamation légale. Si nous n'avons plus besoin de conserver vos informations, nous les supprimerons. Veuillez noter que lorsque vous vous désinscrivez de nos communications marketing, nous conservons un enregistrement de votre adresse e-mail pour nous assurer que nous ne vous envoyons plus d'e-mails marketing à l'avenir.</p>
<p><br/></p>
<h4><strong>Securité</strong></h4>
<p><br/></p>
<p>Ce site garantit que les données sont cryptées en quittant le site. Ce processus implique la conversion d'informations ou de données en code pour empêcher un accès non autorisé. Ce site suit ce processus et utilise des méthodes sécurisées pour assurer la protection de toutes les transactions par carte de crédit et de débit. Les méthodes de cryptage telles que SSL sont utilisées pour protéger les données des clients lorsqu'ils transitent vers et depuis ce site via un canal de communication sécurisé.</p>
<p><br/></p>
<p>Bien que nous fassions tout ce qui est en notre pouvoir pour garantir que les données personnelles soient protégées à tout moment depuis notre site, nous ne pouvons garantir la sécurité et l'intégrité des informations qui ont été transmises à notre site.</p>
<p><br/></p><p> </p><p><br/></p><p> </p>
<h4><strong>Enfants</strong></h4>
<p><br/></p>
<p>Notre site n'est pas destiné aux enfants de moins de 18 ans et ne devrait pas être utilisé par eux. Nous ne collectons pas sciemment de données personnelles d'enfants de moins de 18 ans.</p><p><br/></p><p> </p><p><br/></p>
<h4><strong>Cookies</strong></h4>
<p><br/></p>
<p>Nos Sites utilisent des cookies et des technologies similaires pour fournir certaines fonctionnalités au site, pour comprendre et mesurer ses performances, et pour diffuser des publicités ciblées. Veuillez consulter notre Politique de cookies icipour plus d'informations sur les cookies que nous utilisons et comment modifier vos paramètres de cookies.</p><p><br/></p><p> </p><p><br/></p>
<h4><strong>Vos droits</strong></h4>
<p><br/></p>
<p>Vous avez certains droits en ce qui concerne vos données personnelles, y compris le droit d'accès, de portabilité, de rectification, et de demande d'effacement de vos données personnelles.</p>
<br/>
<p>Vous avez également le droit de vous opposer à ce que vos données personnelles soient utilisées à certaines fins, notamment pour vous envoyer du marketing. Voir «Marketing» ci-dessus pour plus de détails sur la manière de refuser le marketing.</p>
<br/>
<p>Nous nous conformerons à toute demande d'exercice de vos droits conformément à la loi applicable. Sachez toutefois qu'il existe un certain nombre de limitations à ces droits et que nous ne sommes pas en mesure de répondre à votre demande dans certaines circonstances. Pour faire des demandes concernant vos données personnelles, ou si vous avez des questions ou des préoccupations concernant vos données personnelles, vous devez nous contacter en utilisant les détails ci-dessous. Vous avez également le droit de contacter votre autorité de surveillance locale pour la protection des données.</p><p></p><p> </p><p><br/></p>
<br/>
<h4><strong>Nous contacter</strong></h4>
<br/>
<p>Si vous avez des questions sur un aspect de notre politique de confidentialité, veuillez nous contacter aux coordonnées ci-dessous:</p>
<br/>
<p>Telephone : 01 61 81 31 48</p>
<br/>
<p>Email : <a href="mailto:support@provoke.com" target="_blank">feedback@provokecorp.com</a></p>
<p><br/></p>
<p>Adresse : Provoke Customer Services, 2, Avenue de Colmar, 67500, Strasbourg</p>
<p><br/></p><p> </p>
        </div>
	</div>
</div>
{% endblock %}