{% extends 'base.html.twig' %}

{% block title %}Mens Size Guide| Provoke{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Mens Size Guide</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Hauts-Homme</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <p>Pour les t-shirts, les stringers et les sweats à capuche, ce sont nos tailles conseillées pour vos mesures pour nos Hauts Hommes.
         Remarque : Pour plus d'informations, nous vous recommandons de consulter les pages des produits individuels. 
         Si vos mesures pour la poitrine et la taille correspondent à deux tailles différentes suggérées, commandez la taille indiquée par votre mesure de poitrine.</p>
        </div>
    </div>


    <div class="row">
        <div class="d-flex justify-content-center col mt-4">
            <table class="table-guide">
                <thead>
                    <tr>
                        <th><span>Hommes</span></th>
                        <th></th>
                        <th><span>Hauts Homme</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>Taille</span></td>
                        <td><span>Poitrine CM (PCS.)</span></td>
                        <td><span>Taille CM (PCS.)</span></td>
                        <td><span>Hanches CM (PCS.)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="2">s</td>
                        <td>100</td>
                        <td>79</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>(39)</td>
                        <td>(31)</td>
                        <td>(35)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">m</td>
                        <td>105</td>
                        <td>84</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>(41)</td>
                        <td>(33)</td>
                        <td>(37)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">l</td>
                        <td>110</td>
                        <td>89</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>(43)</td>
                        <td>(35)</td>
                        <td>(39)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">xl</td>
                        <td>115</td>
                        <td>94</td>
                        <td>105</td>
                    </tr>
                    <tr>
                        <td>(45)</td>
                        <td>(37)</td>
                        <td>(41)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">xxl</td>
                        <td>120</td>
                        <td>99</td>
                        <td>110</td>
                    </tr>
                    <tr>
                        <td>(47)</td>
                        <td>(39)</td>
                        <td>(43)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col mt-5">
            <h3 class="text-center">Bas-Homme</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <p>Pour notre gamme de shorts, bas de survêtement et leggings, ce sont nos tailles conseillées pour vos mesures. 
        Pour plus d'informations, veuillez également vous reporter aux pages des produits individuels. 
        Si vos mesures pour les hanches et la taille correspondent à deux tailles différentes suggérées, commandez celle indiquée par votre tour de hanches.</p>
        </div>
    </div>

   <div class="row">
         <div class="d-flex justify-content-center col mt-4">
            <table class="table-guide">
                <thead>
                    <tr>
                        <th><span>Hommes</span></th>
                        <th></th>
                        <th><span>Bas Hommes</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>Taille</span></td>
                        <td><span>Taille CM (PCS.)</span></td>
                        <td><span>Hanche CM (PCS.)</span></td>
                        <td><span>Entrejambe CM (PCS.)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="2">s</td>
                        <td>81</td>
                        <td>99</td>
                        <td>79</td>
                    </tr>
                    <tr>
                        <td>(32)</td>
                        <td>(39)</td>
                        <td>(31)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">m</td>
                        <td>86</td>
                        <td>104</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>(34)</td>
                        <td>(41)</td>
                        <td>(31)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">l</td>
                        <td>91</td>
                        <td>109</td>
                        <td>81</td>
                    </tr>
                    <tr>
                        <td>(36)</td>
                        <td>(43)</td>
                        <td>(32)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">xl</td>
                        <td>96</td>
                        <td>114</td>
                        <td>82</td>
                    </tr>
                    <tr>
                        <td>(38)</td>
                        <td>(45)</td>
                        <td>(32)</td>
                    </tr>
                    <tr>
                        <td rowspan="2">xxl</td>
                        <td>101</td>
                        <td>119</td>
                        <td>83</td>
                    </tr>
                    <tr>
                        <td>(40)</td>
                        <td>(47)</td>
                        <td>(34)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}