{% extends 'base.html.twig' %}

{% block title %}Womens Size Guide| Provoke{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Womens Size Guide</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Hauts-Femmes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <p>Nos hauts pour femmes comprennent notre gamme de soutiens-gorge de sport, t-shirts et sweats à capuche. 
        Assurez-vous d'obtenir la bonne taille pour vos mesures. Pour plus d'informations, veuillez également vous reporter aux pages des produits individuels. 
        Si vos mesures pour la poitrine et la taille correspondent à deux tailles différentes suggérées, commandez la taille indiquée par votre mesure de poitrine.</p>
        </div>
    </div>


<div class="row">
         <div class="d-flex justify-content-center col mt-4">
            <table class="table-guide">
                <thead>
                    <tr>
                        <th><span>Femmes</span></th>
                        <th></th>
                        <th><span>Tous Hauts</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>Taille</span></td>
                        <td><span>Poitrine CM(PCS.)</span></td>
                        <td><span>Taille CM (PCS.)</span></td>
                        <td><span>Hanches(Hauts) CM (PCS.)</span></td>
                    </tr>
                    <tr>
                        <td>xs</td>
                        <td>84</td>
                        <td>60</td>
                        <td>86</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(33)</td>
                        <td>(24)</td>
                        <td>(34)</td>
                    </tr>
                    <tr>
                        <td>s</td>
                        <td>89</td>
                        <td>65</td>
                        <td>91</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(35)</td>
                        <td>(26)</td>
                        <td>(36)</td>
                    </tr>
                    <tr>
                        <td>m</td>
                        <td>94</td>
                        <td>70</td>
                        <td>96</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(37)</td>
                        <td>(28)</td>
                        <td>(38)</td>
                    </tr>
                    <tr>
                        <td>l</td>
                        <td>99</td>
                        <td>75</td>
                        <td>101</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(39)</td>
                        <td>(30)</td>
                        <td>(40)</td>
                    </tr>
                    <tr>
                        <td>xl</td>
                        <td>104</td>
                        <td>80</td>
                        <td>106</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>41</td>
                        <td>32</td>
                        <td>42</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



     <div class="row">
        <div class="col mt-5">
            <h3>Bas-Femmes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <p>Pour notre gamme de bas de survêtements, de shorts et de jambières d'exercice, voici nos tailles conseillées pour vos mesures. 
        Pour plus d'informations, veuillez également vous reporter aux pages des produits individuels. 
        Si vos mesures pour les hanches et la taille correspondent à deux tailles différentes suggérées, commandez celle indiquée par votre tour de hanches.</p>
        </div>
    </div>


<div class="row">
         <div class="d-flex justify-content-center col mt-4">
            <table class="table-guide">
                <thead>
                    <tr>
                        <th><span>Femmes</span></th>
                        <th></th>
                        <th><span>Bas Femmes</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>Taille</span></td>
                        <td><span>Taille CM (PCS.)</span></td>
                        <td><span>Hanche CM (PCS.)</span></td>
                        <td><span>Entrejambe CM (PCS.)</span></td>
                    </tr>
                    <tr>
                        <td>xs</td>
                        <td>60</td>
                        <td>99</td>
                        <td>75</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(24)</td>
                        <td>(39)</td>
                        <td>(29)</td>
                    </tr>
                    <tr>
                        <td>s</td>
                        <td>65</td>
                        <td>104</td>
                        <td>76</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(26)</td>
                        <td>(41)</td>
                        <td>(30)</td>
                    </tr>
                    <tr>
                        <td>m</td>
                        <td>70</td>
                        <td>109</td>
                        <td>77</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(28)</td>
                        <td>(43)</td>
                        <td>(30)</td>
                    </tr>
                    <tr>
                        <td>l</td>
                        <td>75</td>
                        <td>114</td>
                        <td>78</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(30)</td>
                        <td>(45)</td>
                        <td>(31)</td>
                    </tr>
                    <tr>
                        <td>xl</td>
                        <td>80</td>
                        <td>119</td>
                        <td>79</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(32)</td>
                        <td>(47)</td>
                        <td>(31)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}