{% extends 'base.html.twig' %}

{% block title %}Register | Provoke{% endblock %}

{% block body %}

<div class="container">
    <h1>Créer un Compte</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Créer un Compte</button>
    {{ form_end(form) }}
</div>

{% endblock %}