{% extends 'base.html.twig' %}

{% block title %}Connexion à l'administration |{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>

.card{
    margin-top: 10%;
}
</style>
{% endblock %}

{% block body %}
<div class="col-md-4 justify-content-center">
<div class="card bg-light">
    <div class="card-header">
        <h4 class="card-title">
        <i class="fas fa-lock"></i>Connexion a l'administration
        
        </h4>
    </div>
    <div class="card-body">
    {% if hasError %}
    <div class="alert alert-warning">
    <p>Les informations fournies sont erronées, veuillez réessayer</p>
    </div>
    {% endif %}

        <form method="post">
            <div class="form-group"><label for="_username">Email</label><input type="text" class="form-control" placeholder="Adresse email" name="_username" value={{ username }}></div>
            <div class="form-group"><label for="_password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe" name="_password"></div>
            <div class="form-group">
                <a  href="/admin" class="btn btn-link btn-primary" role="button"><i class="fas fa-lock-open"></i> Connexion</a>
                <a  href="{{path('home')}}" class="btn btn-link">
                <i class="fas fa-arrow-circle-left"></i>
                Retour à la page d'acceuil
                </a>
            </div>
        </form>
    </div>
  </div>
  </div>
{% endblock %}
